<table border="1">
<tr>
<td>From</td>
<td><%= User.find(message.sender_id).name %></td>
</tr>
<tr>
<td>To</td>
<td><%= User.find(message.receiver_id).name %></td>
</tr>
<tr>
<td>Subject</td>
<td><%= message.subject %></td>
</tr>
<tr>
<td>Date</td>
<td><%= message.created_at.to_s(:short_day) %></td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Message</td>
<td><%= message.message %></td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Reply</td>
<td><%= render 'new' %></td>
</tr>

</table>
