<% message.unread = false %><!-- If you're seeing this page you've viewed it! -->
<table border="1">
<tr>
<td>From</td>
<td><%= link_to User.find(message.sender_id).name, User.find(message.sender_id) %></td>
</tr>
<tr>
<td>To</td>
<td><%= link_to User.find(message.receiver_id).name, User.find(message.receiver_id) %></td>
</tr>
<tr>
<td>Subject</td>
<td><%= message.subject %></td>
</tr>
<tr>
<td>Date</td>
<td><%= message.created_at.to_s %></td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Message</td>
<td><%= message.message %></td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Reply</td>
<td><%= "render new here" %></td>
</tr>

</table>
