<% if @received_messages.any? %>
  <div class="tab_table">
    <col span="2" style="font-size:25px;"/>
    <%= table_for(@received_messages) do |t| %>
      <%= t.body do |message| %>
        <% if message.unread? %>
          <%= t.r do %>
            <%= t.d(h(message.created_at.to_s(:day_week_month))) %>
            <%= t.d(h(User.find(message.sender_id).name)) %>
            <%= t.d(h(message.subject)) %>
            <%= t.d(h(link_to 'VIEW', inbox_path(:id => message.id))) %>
            <%= t.d(h(link_to "DELETE", message, method: :delete, data: { confirm: "You sure?" } )) %>
          <% end %>
        <% else %>
          <%= t.r do %>
            <%= t.d(h(message.created_at.to_s(:day_week_month))) %>
            <%= t.d(h(User.find(message.sender_id).name)) %>
            <%= t.d(h(message.subject)) %>
            <div class="preview">
              <%= t.d(h(link_to 'VIEWagain', inbox_path(:id => message.id))) %>
            </div>
            <%= t.d(h(link_to "DELETE", message, method: :delete, data: { confirm: "You sure?" } )) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<%= page_entries_info @received_messages %>
  <%= will_paginate @received_messages, :page_links => false, :param_name => "recd_page" %>
<% else %>
  <p>No messages.</p>
<% end %>
