<% if @sent_messages.any? %>
  <div class="tab_table">
    <%= table_for(@sent_messages) do |t| %>
      <%= t.body do |message| %>
        <%= t.r do %>
          <%= t.d(h(message.created_at.to_s(:day_week_month))) %>
          <%= t.d(h(User.find(message.sender_id).name)) %>
          <%= t.d(h(message.subject)) %>
          <%= t.d(h(link_to 'VIEW', inbox_path(:id => message.id))) %>
          <%= t.d(h(link_to "DELETE", message, method: :delete, data: { confirm: "You sure?" } )) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= will_paginate @sent_messages, :page_links => false, :param_name => "sent_page" %>
<% else %>
  <p>No messages.</p>
<% end %>
