<%= form_for(current_user.messages.build(sender_id: current_user.id)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :sender_id %>
    <%= f.text_field :subject %>
    <%= f.text_area :message, placeholder: "Compose new message..." %>
    <%= f.text_field :receiver_id %>
  </div>
  <%= f.submit "SEND", class: "btn btn-large btn-primary" %>
<% end %>
