<%= form_for(:session, url: sessions_path) do |f| %>

  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>

  <%= f.submit "Sign in", class: "link-up-button" %>
<% end %>

<p>Forgot your password? <%= link_to "Click here.", '#' %></p>
