        <div id="calendar">
          <h2 id="month">
            <%= link_to "<", :month => (@date.beginning_of_month-1) %>
            <%= h @date.strftime("%B %Y") %>
            <%= link_to ">", :month => (@date.end_of_month+1) %>
          </h2>
          <%= calendar_for(@entries, :year => @date.year, :month => @date.month) do |t| %>
            <%= t.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
            <%= t.day(:day_method => :start_time) do |day, entries| %>
              <%= day.day %>
              <% entries.each do |entry| %>
                <% if entry.event_id>0 %>
                  <%= link_to(h(Event.find(entry.event_id).name), Event.find(entry.event_id)) if entry.event_id>0 %>
                <% else %>
                  <%= entry.name %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
