<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
      <span><%= link_to "Back to profile", @user %></span>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @events.any? %>

      <div id="tabs">
        <ul>
          <li><a href="#upcoming"><span>Upcoming Events</span></a></li>
          <li><a href="#past"><span>Past Events</span></a></li>
          <li><a href="#favourites"><span>My Favourites</span></a></li>
        </ul>


        <div id="favourites">
          <ul class="events">
            <%= render @events %>
          </ul>
        </div>

      </div>
    <% else %>
      <p>No events in your diary. <%= link_to "Hit 'Favourite' on an event", events_path %> and it'll show up here.</p>
    <% end %>
    
  </div>
</div>


        <div id="map" style="width: 600px; height: 400px;">
          <%= gmaps4rails(@json) %>
        </div>
