<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
      <span><%= link_to "Back to profile", @user %></span>
      <span><b><%= @event.venue.name %></b>, <%= @event.venue.address+", "+@event.venue.postcode %></span>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @attention.any? %>
      <ul class="attending">
        <%= render @events %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
