<% puts @event.venue_id.to_s+"&&&&&&&&&&&&&&&&&&"+@event.id.to_s %>
<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :start_time %>
    <%= f.time_select :start_time %>

    <%= f.label :end_time %>
    <%= f.time_select :end_time %>

    <%= f.text_area :description, placeholder: "Description of event..." %>

  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>
