<% if @favourites.any? %>
  <div class="tab_table">
    <%= table_for(@favourites) do |t| %>
      <%= t.body do |event| %>
        <%= t.r do %>
          <%= t.d(h(event.created_at.to_s(:day_week_month))) %>
          <%= t.d(h(event.name)) %>
          <%= t.d(h(event.venue.name)) %>
          <%= t.d(h(event.start_time.to_s(:time_day)+"-"+event.end_time.to_s(:time_day))) %>
          <%= t.d(h("Attending")) %><!-- this needs to change! ...Or does it? -->
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= will_paginate @favourites, :page_links => false, :param_name => "upcoming_page" %>
<% else %>
  <p>No favourites. <%= link_to "Favourite events", events_path %> and they'll appear here.</p>
<% end %>
