<% provide(:title, @venue.name) %>
<div class="row">
  <aside class="span4">
    <div id="centre-pic">
      <%= image_tag 'generic_sports_centre.jpg', alt: "venue image", class: "image" %><!-- Temporary - eventually hold a full-size image -->
    </div>
    <section>
        <%= gmaps4rails(@json) %>
    </section>
    <section>
      <% if signed_in? && (current_user.admin? || (current_user.organiser? && @venue.user_id == current_user.id)) %>
        <%= link_to "Edit", edit_venue_path(@venue.id) %>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h1><%= @venue.name %></h1>
    <div class="venue-info">
      <b>Location:</b><br>
      <%= @venue.gmaps4rails_address %><br>
      <b>Contact:</b><br>
      <%= @venue.contact %><br>
    </div>
    <div id="activity-list">
      <b>Activities held here:</b>
      <%= render "activities_list" %>
    </div>
    <div id="description">
      <b>Description:</b>
      <p><%= @venue.description %></p>
    </div>
  </div>
</div>
