<% provide(:title, @venue.name) %>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @venue %>
        <%= @venue.name %>
      </h1>
    </section>
    <section>
      <%= render 'venues/favourite_form' if signed_in? %>
      <p><%= @venue.street_address+", "+@venue.postcode %></p>
    </section>
    <section>
      <%= @venue.description %>
    </section>
    <section>
      <% if signed_in? && (current_user.admin? || (current_user.organiser? && @venue.user_id == current_user.id)) %>
        <%= link_to "Edit", edit_venue_path(@venue.id) %>
      <% end %>
    </section>
  </aside>
  <div class="span8">
      <% if signed_in? && (current_user.admin? || (current_user.organiser? && @venue.user_id == current_user.id)) %>
<script>
$( "button" ).click(function() {
  $( "toggle_form" ).toggle( "fold", 1000 );
});
</script>
        <button>toggle the div</button>
        <div class="toggle_form">
          <%= render 'events/new_event' %>
        </div>
      <% end %>
    </section>
    <section>
      <%= gmaps4rails(@json) %>
      <% content_for :scripts do %>
        <script type="text/javascript" charset="utf-8">
        Gmaps.map.callback = function() {
          if (Gmaps.map.markers.length == 1) {
            //only one marker, choose the zoom level you expect
            setTimeout(function() { Gmaps.map.serviceObject.setZoom(15);}, 50);
          }
          else{
           //more than one marker, let's auto_zoom
           Gmaps.map.map_options.auto_zoom = true;
           Gmaps.map.adjustMapToBounds();
          }
        }
      </script>
      <% end %>
      <% if @venue.events.any? %>
        <h3>Events at this venue (<%= @venue.events.count %>)</h3>
        <div id="calendar">
          <%= calendar_for(@events, :year => @date.year, :month => @date.month) do |t| %>
            <%= t.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
            <%= t.day(:day_method => :start_time) do |day, events| %>
              <%= day.day %>
              <% events.each do |event| %>
                <%= link_to h(event.name), event %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <ol class="events">
          <%= render @events %>
        </ol>
        <%= will_paginate @events %>
      <% end %>
    </section>
  </div>
</div>
